
.category-selection {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto; 
}

.category-selection h2 {
  margin-bottom: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.category-selection button {
  padding: 12px 24px; 
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 300px;
  margin: 10px 0; 
}

.category-selection button:hover {
  background-color: #b34800;
}

.category-selection input {
  margin-bottom: 20px; 
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; 
}

.category-selection form {
  width: 100%;
  max-width: 500px; 
}
.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.item {
  margin-bottom: 10px;
}